In [1]:
import sqlite3
import pandas as pd
pd.set_option('display.max_columns', 100)

In [2]:
conn = sqlite3.connect("../pedigree/ped.sqlite")

In [3]:
ped_df = pd.read_sql_query("select * from family", conn)
ped_df.head()

,id,my_id,dad_id,dad,mom_id,mom,grandpa_id,grandpa
0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー
1,2,2017104433,2001103660,トーセンブライト,2008102626,パームアイランド,1992109618,フジキセキ
2,3,2017103102,2008103552,ロードカナロア,000a010e83,アーティストチョイス,000a0022e1,Giant's Causeway
3,4,2017104267,000a011b05,モンテロッソ,2010102611,ミナレット,2001103890,スズカマンボ
4,5,2017101810,2010105827,キズナ,2010110072,ジャルダンスクレ,000a010a65,Medaglia d'Oro

In [4]:
ped_df.shape

(62931, 8)

In [5]:
ped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62931 entries, 0 to 62930
Data columns (total 8 columns):
id            62931 non-null int64
my_id         62931 non-null object
dad_id        62930 non-null object
dad           62930 non-null object
mom_id        62922 non-null object
mom           62922 non-null object
grandpa_id    62922 non-null object
grandpa       62922 non-null object
dtypes: int64(1), object(7)
memory usage: 3.8+ MB

In [6]:
ped_df.isnull().sum()

id            0
my_id         0
dad_id        1
dad           1
mom_id        9
mom           9
grandpa_id    9
grandpa       9
dtype: int64

In [7]:
ped_df = ped_df.fillna("")

In [8]:
ped_df.isnull().sum()

id            0
my_id         0
dad_id        0
dad           0
mom_id        0
mom           0
grandpa_id    0
grandpa       0
dtype: int64

In [9]:
ped_df.head()

,id,my_id,dad_id,dad,mom_id,mom,grandpa_id,grandpa
0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー
1,2,2017104433,2001103660,トーセンブライト,2008102626,パームアイランド,1992109618,フジキセキ
2,3,2017103102,2008103552,ロードカナロア,000a010e83,アーティストチョイス,000a0022e1,Giant's Causeway
3,4,2017104267,000a011b05,モンテロッソ,2010102611,ミナレット,2001103890,スズカマンボ
4,5,2017101810,2010105827,キズナ,2010110072,ジャルダンスクレ,000a010a65,Medaglia d'Oro

In [10]:
head_df = pd.read_csv("../csv/head.csv")
body_df = pd.read_csv("../csv/body.csv", dtype={"jockey_id": object})

In [11]:
print(head_df.shape)
print(body_df.shape)
print(ped_df.shape)

(41848, 14)
(596391, 18)
(62931, 8)

In [12]:
# race_dateをdatetimeに変換
head_df["race_date"] = pd.to_datetime(head_df["race_date"], format="%Y年%m月%d日")

In [13]:
df = pd.merge(head_df, body_df, on="race_id", how="outer")

In [14]:
df.head(3)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,top_time,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,race_time,speed,agari,odds,popular,area,trainer,prize
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1:20.4,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,1:20.4,58.208955,37.0,9.4,5,東,土田稔,510.0
1,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1:20.4,15,2660,12160,2,1,1,2017104433,エストラード,牡,3,00689,江田照男,1:20.4,58.208955,37.3,8.3,4,東,武市康男,200.0
2,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1:20.4,15,2660,12160,3,5,9,2017103102,マッチャパフェ,牝,3,01169,武藤雅,1:20.4,58.208955,38.2,10.5,6,東,林徹,130.0

In [15]:
ped_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62931 entries, 0 to 62930
Data columns (total 8 columns):
id            62931 non-null int64
my_id         62931 non-null object
dad_id        62931 non-null object
dad           62931 non-null object
mom_id        62931 non-null object
mom           62931 non-null object
grandpa_id    62931 non-null object
grandpa       62931 non-null object
dtypes: int64(1), object(7)
memory usage: 3.8+ MB

In [16]:
ped_df = ped_df.astype({'my_id':'int64'})

In [17]:
df = pd.merge(df, ped_df, left_on="name_id", right_on="my_id", how="inner")

In [18]:
df.isnull().sum()

race_id          0
race_date        0
race_number      0
race_name        0
race_course      0
event_date       0
race_type        0
race_distance    0
race_weather     0
race_state       0
top_time         0
horses           0
uren             0
sanfuku          0
order            0
frame            0
number           0
name_id          0
name             0
gender           0
age              0
jockey_id        0
jockey           0
race_time        0
speed            0
agari            5
odds             0
popular          0
area             0
trainer          0
prize            0
id               0
my_id            0
dad_id           0
dad              0
mom_id           0
mom              0
grandpa_id       0
grandpa          0
dtype: int64

In [19]:
agar_null = df.loc[df["agari"].isnull(), "race_id"]

In [20]:
def agari_fillna(id):
    df.loc[(df["race_id"] == id) & (df["agari"].isnull()), "agari"] = df.loc[df["race_id"] == id]["agari"].max()+1
    
for v in agar_null:
    agari_fillna(v)

In [21]:
df.isnull().sum()

race_id          0
race_date        0
race_number      0
race_name        0
race_course      0
event_date       0
race_type        0
race_distance    0
race_weather     0
race_state       0
top_time         0
horses           0
uren             0
sanfuku          0
order            0
frame            0
number           0
name_id          0
name             0
gender           0
age              0
jockey_id        0
jockey           0
race_time        0
speed            0
agari            0
odds             0
popular          0
area             0
trainer          0
prize            0
id               0
my_id            0
dad_id           0
dad              0
mom_id           0
mom              0
grandpa_id       0
grandpa          0
dtype: int64

In [22]:
df.head(3)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,top_time,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,race_time,speed,agari,odds,popular,area,trainer,prize,id,my_id,dad_id,dad,mom_id,mom,grandpa_id,grandpa
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1:20.4,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,1:20.4,58.208955,37.0,9.4,5,東,土田稔,510.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー
1,202006010103,2020-01-05,3,3歳未勝利,中山,1,ダ右,1200,晴,良,1:12.1,16,560,17360,5,2,3,2017102815,クリアミッション,牡,3,01061,大庭和弥,1:14.0,58.378378,38.4,138.6,12,東,土田稔,51.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー
2,202006010701,2020-01-19,1,3歳未勝利,中山,7,ダ右,1200,晴,稍重,1:12.6,16,26380,73540,2,3,5,2017102815,クリアミッション,牡,3,01061,大庭和弥,1:12.6,59.504132,38.5,27.0,9,東,土田稔,200.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー

In [23]:
df["top_time"] = pd.to_datetime(df["top_time"], format="%M:%S.%f")
df["race_time"] = pd.to_datetime(df["race_time"], format="%M:%S.%f")

In [24]:
df.head(2)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,top_time,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,race_time,speed,agari,odds,popular,area,trainer,prize,id,my_id,dad_id,dad,mom_id,mom,grandpa_id,grandpa
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1900-01-01 00:01:20.400,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,1900-01-01 00:01:20.400,58.208955,37.0,9.4,5,東,土田稔,510.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー
1,202006010103,2020-01-05,3,3歳未勝利,中山,1,ダ右,1200,晴,良,1900-01-01 00:01:12.100,16,560,17360,5,2,3,2017102815,クリアミッション,牡,3,01061,大庭和弥,1900-01-01 00:01:14.000,58.378378,38.4,138.6,12,東,土田稔,51.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー

In [25]:
# トップとの差
df["diff"] = (df["race_time"] - df["top_time"]).dt.total_seconds()

In [26]:
df.head(1)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,top_time,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,race_time,speed,agari,odds,popular,area,trainer,prize,id,my_id,dad_id,dad,mom_id,mom,grandpa_id,grandpa,diff
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,1900-01-01 00:01:20.400,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,1900-01-01 00:01:20.400,58.208955,37.0,9.4,5,東,土田稔,510.0,1,2017102815,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー,0.0

In [27]:
# 不要カラム削除
df.drop(columns=[
    "top_time",
    "race_time",
    "id",
    "my_id"
], inplace=True)

In [28]:
g = df.groupby("race_id")
g

In [29]:
sad_max = g["speed","agari","diff"].max()

In [30]:
sad_max.reset_index(inplace=True)

In [31]:
sad_max = sad_max.rename(columns={"speed":"speed_max","agari":"agari_max","diff":"diff_max"})

In [32]:
sad_max.head()

        race_id  speed_max  agari_max  diff_max
0  200801010101  59.340659       38.2       2.4
1  200801010102  61.016949       37.7       2.1
2  200801010103  57.518797       46.2       9.5
3  200801010104  59.405941       41.2       5.0
4  200801010105  56.983240       41.6       3.3

In [33]:
df = pd.merge(df, sad_max, on="race_id")

In [34]:
df.head(1)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,speed,agari,odds,popular,area,trainer,prize,dad_id,dad,mom_id,mom,grandpa_id,grandpa,diff,speed_max,agari_max,diff_max
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,58.208955,37.0,9.4,5,東,土田稔,510.0,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー,0.0,58.208955,40.1,5.8

In [35]:
sad_min = g["speed","agari","diff"].min()

In [36]:
sad_min.reset_index(inplace=True)

In [37]:
sad_min = sad_min.rename(columns={"speed":"speed_min","agari":"agari_min","diff":"diff_min"})

In [38]:
sad_min.head()

        race_id  speed_min  agari_min  diff_min
0  200801010101  57.815846       35.5       0.0
1  200801010102  58.919804       35.3       0.0
2  200801010103  52.804142       38.4       0.0
3  200801010104  56.308655       36.0       0.0
4  200801010105  55.284553       38.1       0.0

In [39]:
df = pd.merge(df, sad_min, on="race_id")

In [40]:
df.head(1)

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,speed,agari,odds,popular,area,trainer,prize,dad_id,dad,mom_id,mom,grandpa_id,grandpa,diff,speed_max,agari_max,diff_max,speed_min,agari_min,diff_min
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,58.208955,37.0,9.4,5,東,土田稔,510.0,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー,0.0,58.208955,40.1,5.8,54.292343,37.0,0.0

In [41]:
# "speed_min_max","agari_min_max","diff_min_max"
df["speed_min_max"] = (df["speed"]-df["speed_min"])/(df["speed_max"]-df["speed_min"])
df["agari_min_max"] = (df["agari"]-df["agari_min"])/(df["agari_max"]-df["agari_min"])
df["diff_min_max"] = (df["diff"]-df["diff_min"])/(df["diff_max"]-df["diff_min"])

In [42]:
df.head()

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,speed,agari,odds,popular,area,trainer,prize,dad_id,dad,mom_id,mom,grandpa_id,grandpa,diff,speed_max,agari_max,diff_max,speed_min,agari_min,diff_min,speed_min_max,agari_min_max,diff_min_max
0,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,1,2,2,2017102815,クリアミッション,牡,3,01061,大庭和弥,58.208955,37.0,9.4,5,東,土田稔,510.0,000a0118e8,バトルプラン,2010101974,エキスカベイター,1989108341,サクラバクシンオー,0.0,58.208955,40.1,5.8,54.292343,37.0,0.0,1.000000,0.000000,0.000000
1,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,2,1,1,2017104433,エストラード,牡,3,00689,江田照男,58.208955,37.3,8.3,4,東,武市康男,200.0,2001103660,トーセンブライト,2008102626,パームアイランド,1992109618,フジキセキ,0.0,58.208955,40.1,5.8,54.292343,37.0,0.0,1.000000,0.096774,0.000000
2,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,3,5,9,2017103102,マッチャパフェ,牝,3,01169,武藤雅,58.208955,38.2,10.5,6,東,林徹,130.0,2008103552,ロードカナロア,000a010e83,アーティストチョイス,000a0022e1,Giant's Causeway,0.0,58.208955,40.1,5.8,54.292343,37.0,0.0,1.000000,0.387097,0.000000
3,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,4,3,4,2017104267,コルニリア,牡,3,01051,嘉藤貴行,58.064516,38.1,19.3,9,東,大和田成,77.0,000a011b05,モンテロッソ,2010102611,ミナレット,2001103890,スズカマンボ,0.2,58.208955,40.1,5.8,54.292343,37.0,0.0,0.963121,0.354839,0.034483
4,202005010101,2020-02-01,1,3歳未勝利,東京,1,ダ左,1300,晴,稍重,15,2660,12160,5,7,12,2017101810,ローズオブシャロン,牝,3,01077,石橋脩,58.064516,38.2,7.3,3,東,大竹正博,51.0,2010105827,キズナ,2010110072,ジャルダンスクレ,000a010a65,Medaglia d'Oro,0.2,58.208955,40.1,5.8,54.292343,37.0,0.0,0.963121,0.387097,0.034483

In [43]:
# ソート
df.sort_values(["race_date", "race_course", "race_number"], ascending=[False, True, True], inplace=True)

In [44]:
# インデックスを振り直す
df.reset_index(inplace=True, drop=True)

In [45]:
df

,race_id,race_date,race_number,race_name,race_course,event_date,race_type,race_distance,race_weather,race_state,horses,uren,sanfuku,order,frame,number,name_id,name,gender,age,jockey_id,jockey,speed,agari,odds,popular,area,trainer,prize,dad_id,dad,mom_id,mom,grandpa_id,grandpa,diff,speed_max,agari_max,diff_max,speed_min,agari_min,diff_min,speed_min_max,agari_min_max,diff_min_max
0,202008020401,2020-02-09,1,3歳未勝利,京都,4,ダ右,1200,晴,良,16,1880,860,11,3,5,2017106322,メイショウウラコイ,牡,3,01125,国分優作,57.754011,38.1,351.7,15,西,坂口智康,0.0,2005110112,カジノドライヴ,2008101714,ラブミーダン,1998101554,マンハッタンカフェ,2.9,60.083449,39.2,3.8,57.067371,37.0,0.0,0.227660,0.500000,0.763158
1,202008020401,2020-02-09,1,3歳未勝利,京都,4,ダ右,1200,晴,良,16,1880,860,4,8,16,2017103688,リリーミニスター,セ,3,01032,池添謙一,59.097127,38.0,19.9,6,西,池添兼雄,77.0,000a011099,シニスターミニスター,2011101825,シーヴァージア,1998110135,クロフネ,1.2,60.083449,39.2,3.8,57.067371,37.0,0.0,0.672979,0.454545,0.315789
2,202008020401,2020-02-09,1,3歳未勝利,京都,4,ダ右,1200,晴,良,16,1880,860,15,7,14,2017102218,ムート,牡,3,01124,国分恭介,57.218543,38.8,653.1,16,西,川村禎彦,0.0,1998101786,ジャングルポケット,2002102055,パリスセイリュウ,1989108341,サクラバクシンオー,3.6,60.083449,39.2,3.8,57.067371,37.0,0.0,0.050122,0.818182,0.947368
3,202008020401,2020-02-09,1,3歳未勝利,京都,4,ダ右,1200,晴,良,16,1880,860,8,5,10,2017101714,タガノコットン,牡,3,05429,岡田祥嗣,58.299595,37.8,73.8,8,西,浅見秀一,0.0,000a0022d2,キングズベスト,2009106443,アドマイヤシルク,1999110099,シンボリクリスエス,2.2,60.083449,39.2,3.8,57.067371,37.0,0.0,0.408552,0.363636,0.578947
4,202008020401,2020-02-09,1,3歳未勝利,京都,4,ダ右,1200,晴,良,16,1880,860,9,7,13,2017101749,カミーノ,牡,3,01163,坂井瑠星,58.064516,38.8,117.3,9,西,清水久詞,0.0,2003110212,キンシャサノキセキ,2007103074,ジョディーズライン,1998110135,クロフネ,2.5,60.083449,39.2,3.8,57.067371,37.0,0.0,0.330610,0.818182,0.657895
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596386,200808010112,2008-01-05,12,4歳以上1000万下,京都,1,芝右 外,1600,晴,良,16,1430,22760,15,5,10,2002105266,テンザンアモーレ,牝,6,01116,藤岡康太,59.442724,36.3,115.7,15,西,梅田智之,0.0,1994109686,タイキシャトル,1994109659,テンザンストーム,000a001a98,Storm Cat,1.1,60.125261,37.3,2.2,58.775510,34.2,0.0,0.494324,0.677419,0.500000
596387,200808010112,2008-01-05,12,4歳以上1000万下,京都,1,芝右 外,1600,晴,良,16,1430,22760,3,1,2,2001103104,シャイニングアレキ,牝,7,01093,藤岡佑介,60.000000,34.6,51.1,11,西,池江泰郎,260.0,000a00033a,サンデーサイレンス,1991107054,シャイニンレーサー,000a000258,ノーザンテースト,0.2,60.125261,37.3,2.2,58.775510,34.2,0.0,0.907197,0.129032,0.090909
596388,200808010112,2008-01-05,12,4歳以上1000万下,京都,1,芝右 外,1600,晴,良,16,1430,22760,7,6,11,2004100759,マイネルソリスト,牡,4,05203,岩田康誠,59.937565,35.2,3.0,1,西,飯田雄三,0.0,1998101516,アグネスタキオン,1992103950,カバティーナ,000a000146,ゲイメセン,0.3,60.125261,37.3,2.2,58.775510,34.2,0.0,0.860940,0.322581,0.136364
596389,200808010112,2008-01-05,12,4歳以上1000万下,京都,1,芝右 外,1600,晴,良,16,1430,22760,13,3,6,2001100520,スリースピニング,セ,7,00709,上村洋行,59.689119,34.5,42.1,9,西,西浦勝一,0.0,000a000325,スピニングワールド,1989104805,ノーリターン,000a000d17,ワイズカウンセラー,0.7,60.125261,37.3,2.2,58.775510,34.2,0.0,0.676872,0.096774,0.318182
596390,200808010112,2008-01-05,12,4歳以上1000万下,京都,1,芝右 外,1600,晴,良,16,1430,22760,16,5,9,2002100942,グレイシアブルー,牝,6,00685,角田晃一,58.775510,37.3,98.0,14,西,庄野靖志,0.0,000a00033a,サンデーサイレンス,000a006777,ブルーラスター,000a001676,Nureyev,2.2,60.125261,37.3,2.2,58.775510,34.2,0.0,0.000000,1.000000,1.000000

In [46]:
df.to_pickle("ped_merge_min_max.pkl")